html
	head
	body
		h1 Your Matches: 
		h3 
			each thing in user 
				li.thing Firstname #{thing.firstname}, Lastname: #{thing.lastname}, Email #{thing.email}

		p If you didn't find your match, try to adjust your spelling


			
			