html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
		link(rel='stylesheet', href='/src/css/hover.css/css/hover-min.css')
		link(rel='stylesheet', href='/src/css/main.css', type='text/css')
		
	body
		nav
			.nav-wrapper
				a.brand-logo.left(href='/') Fijn blogje
				ul#nav-mobile.right
					li
						a(href='/profile') Post something
					li
						a(href='/ownposts') View my posts
					li
						a(href='/allposts') View all posts
					li
						a(href='/logout') log out
	main
			
		each thing in posts 
			div.row
				div.col.s6.offset-s3
					div.card.darken-1
						div.card-content
							a(href='/message/?id='+ thing.id)
								h3.hvr-pulse #{thing.id}. #{thing.title}
							h5 #{thing.message}
		

	footer.page-footer
			.container
				.row
					.col.l6.s12
						h5.white-text This tool is very usefull 
						p.grey-text.text-lighten-4 How awesome is it that you can leave a comment?!
					
			.footer-copyright
				.container
					| © 2016 Build by Antony Jay Cuvalay
					a.grey-text.text-lighten-4.right(href='#!') antonycuvalay@hotmail.com
		
	script(src='/src/js/jquery-3.1.1.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
	script(src= '/src/js/main.js')







