.banner{
     background: url(../images/Mountain.jpeg) no-repeat;
 }

 @font-face {
 	font-family: 'Open Sans', sans-serif;
 }
.navbar-inverse .navbar-brand {
	font-family: 'Open Sans', sans-serif;
}

.banner-info h3{
	font-family: 'Open Sans', sans-serif;
}

.about-me h3{
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.skill-info h4 {
	font-family: 'Open Sans', sans-serif;
}

.myportfolio h3 {
	font-family: 'Open Sans', sans-serif;
}

.mygallery h3 {
	font-family: 'Open Sans', sans-serif;
}

.contact-me h3 {	
	font-family: 'Open Sans', sans-serif;
}

.myportfolio h3.content-text {
	font-family: 'Open Sans', sans-serif;
}

.contact-info h4 {
	font-family: 'Open Sans', sans-serif;
}

.contact-info h5 {
	font-family: 'Open Sans', sans-serif;
}
.banner-info {
	margin: 180px 0px;
}

p.p1 {
	margin: 0px 0px 0px;
	vertical-align: super;
	
} 

.footer-info {
	background-color: rgba(129, 224, 144, 0.14);
}

.contactcentreren {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0px 250px 60px 250px;
}

.copyright {
	clear: both;
}

.godown {
	clear: both;
}

.btn-info {
	background-color: rgba(91, 222, 108, 0.27);
	border-color: #ffffff; 
}

.btn-info:hover {
    color: rgba(152, 245, 124, 0.36);
    background-color: rgba(195, 245, 136, 0.67); 
    border-color: #ffffff; 
}

.incenter {
	text-align: center;
}

span.shortline1 {
    width: 120px;
}

span.longline1 {
    width: 180px;
}

span.longline2 {
    width: 240px;
}
span.shortline2 {
    width: 60px;
}

span.longline3 {
    width: 270px;
}
span.shortline3 {
    width: 30px;
}

span.longline4 {
    width: 255px;
}
span.shortline4 {
    width: 45px;
}

span.shortline5 {
    width: 120px;
}

span.longline5 {
    width: 180px;
}

