$maincolor: lightgreen;

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: $maincolor;
}

main {
	flex: 1 0 auto;
}

#boldtext {
	font-weight: bold;
}

h1 {
	color: $maincolor;
}

#email {
	color: $maincolor;
}

#password {
	color: $maincolor;
}

#logbut {
	color: $maincolor;
}

input {
	color: $maincolor;
}

h2 {
	color: $maincolor;
}

#submitbutton {
	color: white;
}

.btn, .btn-large{
	background-color: lightgreen;
}

.maintext {
	padding-top: 200px;
}