body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: lightgreen;
}

main {
	flex: 1 0 auto;
}

#boldtext {
    font-weight: bold;
}

h1 {
	color: lightgreen;
}

#email {
	color: lightgreen;
}

#password {
	color: lightgreen;
}

#logbut{
	color: lightgreen;
}

input {
	color: lightgreen;
}

h2 {
	color: lightgreen;
}

.card {
	lightgreen
}
#submitbutton {
	color: white;
}
.btn, .btn-large{
	background-color: lightgreen
}
.waves-effect {
	background-color: lightgreen
}

.maintext {
	padding-top: 200px;
}