.card
	.image
		img(src='/img/steve.jpg')
	.content
		.header Douwe Knook
		.meta
			a Javascript, HTML5, CSS3, Python.
		.description
			| I'm the best teacher you'll ever see.
	.extra.content
		span.right.floated
			| Joined in 2016
		span
			i.user.icon
			| 35 Reviews

.card
	.image
		img(src='/img/elyse.png')
	.content
		.header Antony Cuvalay
		.meta
			a JavaScript, HTML5, CSS3, Node.js.
		.description
			| Let's meetup and see how I can help you out.
	.extra.content
		span.right.floated
		| Joined in 2016
		span
		i.user.icon
		| 151 Reviews
.card
	.image
		img(src='/img/daniel.jpg')
	.content
		.header Gijs Lebesque
		.meta
			a JavaScript, HTML5, CSS3, Node.js.
		.description
			| Let's meetup and see how I can help you out.
	.extra.content
		span.right.floated
		| Joined in 2016
		span
		i.user.icon
		| 151 Reviews

.card
	.image
		img(src='/img/elliot.jpg')
	.content
		.header Antony Cuvalay
		.meta
			a JavaScript, HTML5, CSS3, Node.js.
		.description
			| Let's meetup and see how I can help you out.
	.extra.content
		span.right.floated
		| Joined in 2016
		span
		i.user.icon
		| 151 Reviews

.card
	.image
		img(src='/img/molly.png')
	.content
		.header Antony Cuvalay
		.meta
			a JavaScript, HTML5, CSS3, Node.js.
		.description
			| Let's meetup and see how I can help you out.
	.extra.content
		span.right.floated
		| Joined in 2016
		span
		i.user.icon
		| 151 Reviews
.card
	.image
		img(src='/img/steve.jpg')
	.content
		.header Antony Cuvalay
		.meta
			a JavaScript, HTML5, CSS3, Node.js.
		.description
			| Let's meetup and see how I can help you out.
	.extra.content
		span.right.floated
		| Joined in 2016
		span
		i.user.icon
		| 151 Reviews

.card
	.image
		img(src='/img/elyse.png')
	.content
		.header Antony Cuvalay
		.meta
			a JavaScript, HTML5, CSS3, Node.js.
		.description
			| Let's meetup and see how I can help you out.
	.extra.content
		span.right.floated
		| Joined in 2016
		span
		i.user.icon
		| 151 Reviews