footer
	div.ui.footer.segment
		div.ui.center.aligned.container
			div.ui.stackable.divided.grid
				div.four.wide.column
					h4 Contact
					div.ui.list
						div.item Address
						div.item Email
						div.item Phone Number
				div.four.wide.column
					h4 Partners
					div.ui.list
						div.item Partner 1
						div.item Partner 2
						div.item Partner 3

				div.eight.wide.column
					h4 Lorum Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
