link(rel="stylesheet" href="/../../css/font-awesome.min.css")
link(type="text/css" rel="stylesheet" href="/../../css/semantic.min.css"  media="screen,projection")
link(type="text/css" rel="stylesheet" href="/css/style.css")
title #{title}